@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

:root {
  --pri-clr: #3dffd1;
  --pri-light-clr: #dfe5e4;
  --accent-clr: #ccd6f6;
  --accent-sec-clr: #a8b2d1;
  --bg-clr: #16151d;
  --sec-bg-clr: rgba(37, 40, 42, 1);
  --ff: "Dongle";
  --fs-400: 2rem;
  --fs-300: 1.8rem;
  --fs-200: 1rem;
  --line-height: 2rem;
  --shadowLight: 0 2px 4px -3px rgba(61, 255, 209, 0.5);
  --filter-pri-clr: drop-shadow(1px 2px 5px rgba(61, 255, 209, 0.25));
}

/* TYPOGRAPHY */

h1 {
  font-size: clamp(3rem, 10vw + 1rem, 4.5rem);
  line-height: 0.75;
}

p {
  font-size: clamp(var(--fs-400), 2vw + 1rem, 2.2rem);
  line-height: 1;
}

/* GLOBAL STYLINGS */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  background-color: var(--bg-clr);
  color: var(--accent-clr);
  font-family: var(--ff);
  font-size: var(--fs-400);
  line-height: var(--line-height);
}

body.active {
  color: var(--accent-sec-clr);
  background: rgba(0, 0, 0, 5);
  overflow: hidden;
}

/* width of the entire scrollbar */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--pri-clr);
  border-radius: 20px;
}

/* Max width: 1366px */
.section__container,
.nav__container {
  width: min(90%, 85.375rem);
  margin-inline: auto;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 1.5rem 0 5rem 0;
  background-image: url("../img/code-background-mobile.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.section__container > div {
  margin-top: 4rem;
}

header {
  background-color: var(--bg-clr);
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 2;
}

/* Nav shadow in dark theme */
.nav__shadow {
  box-shadow: var(--shadowLight);
}

.nav__logo {
  display: flex;
}

.nav__toggle-menu {
  z-index: 3;
}

/* Hide navigation by default */
.nav__menu {
  display: none;
}

/* Show navigation when toggle-menu is clicked */
.nav__menu.active {
  background-color: rgba(37, 40, 42, 0.9);
  backdrop-filter: blur(0.3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  inset: 0 0 0 35%;
  height: 100vh;
  padding-top: 4rem;
  gap: 2rem;
  transition: 0.3 ease;
}

.bar {
  background-color: var(--accent-clr);
  position: relative;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  transform: 0.7 ease;
}

.bar1 {
  top: -6px;
}

.bar3 {
  top: 6px;
}

.nav__toggle-menu.active .bar2 {
  opacity: 0;
}

.nav__toggle-menu.active .bar1 {
  transform: translateY(10px) rotate(45deg);
}

.nav__toggle-menu.active .bar3 {
  transform: translateY(-10px) rotate(-45deg);
}

li {
  list-style: none;
}

.nav__link {
  color: var(--accent-clr);
}

.nav__link:hover {
  color: var(--pri-clr);
}

a {
  color: var(--accent-clr);
  text-decoration: none;
}

.cta-button,
.section__button {
  border: 2px solid var(--pri-clr);
  color: var(--pri-clr);
  padding: 0.5rem 2rem;
  line-height: 1;
  border-radius: 3px;
  display: inline-block;
}

.cta-button:hover,
.section__button:hover {
  filter: var(--filter-pri-clr);
  background-color: var(--sec-bg-clr);
}

.section__title {
  text-align: center;
}

.section__title::after {
  background-color: var(--pri-clr);
  content: "";
  display: block;
  width: 110px;
  height: 20px;
  margin: -20px auto;
  opacity: 0.3;
}

img {
  filter: var(--filter-pri-clr);
  width: 100%;
  border-radius: 3px;
  z-index: 1;
}

h1,
h3,
p {
  margin-bottom: 2.5rem;
}

.section__primary-color {
  color: var(--pri-clr);
  filter: var(--filter-pri-clr);
}

.section__heading-underline {
  filter: var(--filter-pri-clr);
  background-image: url("../img/dark-theme/dark-theme-underline.svg");
  background-position: 100% 80%;
  background-size: contain;
  background-repeat: no-repeat;
}

.desktop {
  display: none;
}

#about .section__image-container,
.project .section__image-container {
  position: relative;
}

/* Hide images */
#about .section__technologies-hover,
.koolweld__project-hover,
.j4sc2__project-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Show techonologies with primary color when hovered */
#about .section__image-container:hover .section__technologies-hover,
#project-1 .section__image-container:hover .koolweld__project-hover,
#project-2 .section__image-container:hover .j4sc2__project-hover {
  display: inline;
}

/* HERO */

.header__text {
  opacity: 0.7;
}

.header__hello {
  margin-bottom: 1.5rem;
}

#section__hero-image-container {
  position: relative;
}

#section__hero-image-container::before {
  background-color: var(--pri-clr);
  filter: var(--filter-pri-clr);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 20px;
  right: 23px;
  border-radius: 3px;
  opacity: 0.26;
  z-index: 1;
}

#section__hero-image-container:hover::before {
  transition: 0.35s ease;
  bottom: 18px;
  right: 13px;
  z-index: -1;
}

/* PROJECTS */

#project-1 {
  padding-bottom: 0;
}

.section__project-details {
  background-color: var(--sec-bg-clr);
  padding: 1.2rem;
  margin-bottom: 1.5rem;
}

.section__project-details p {
  margin: 0;
}

.section__technologies-used {
  opacity: 0.5;
}

.project hr {
  background-color: var(--pri-clr);
  border: none;
  height: 2px;
  opacity: 0.1;
  margin: 1.2rem 0;
}

.section__technologies-used-separator {
  font-size: var(--fs-200);
}

/* CONTACT */

.email {
  margin-bottom: 10px;
}

.section__social-icons-container {
  margin-bottom: 0.5rem;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5rem;
}

.social-icon:hover {
  color: var(--pri-clr);
}

.footer {
  font-size: var(--fs-300);
  opacity: 0.3;
  line-height: 0.1;
}

.fixed__social-icons-container {
  position: relative;
}

.fixed__social-icon,
.fixed__vertical-line {
  display: block;
  position: fixed;
  right: 7px;
}

.social-icon-linkedin {
  bottom: 150px;
}

.social-icon-github {
  bottom: 100px;
}

.social-icon-dribbble {
  bottom: 50px;
}

.fixed__vertical-line {
  height: 100px;
  right: 26px;
  bottom: 210px;
  border-radius: 3px;
  border: 1px dotted var(--pri-clr);
}

/* MEDIA QUERIES */

/* 768px */
@media (min-width: 48em) {
  .section__container,
  .nav__container {
    width: min(75%, 85.375rem);
  }

  #about, #contact {
    text-align: center;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  html {
    scroll-padding-top: 85px;
  }

  .section__container,
  .nav__container {
    width: min(90%, 85.375rem);
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    height: 85px;
  }

  .nav__toggle-menu {
    display: none;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: 7rem;
  }

  section {
    background-image: url("../img/code-background.svg");
    padding: 0;
  }

  .section__container > div {
    margin-top: 0;
  }

  .section__wrapper-horizontal {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: calc(100vh - 85px);
  }

  #about .section__wrapper-horizontal,
  #project-1 .section__wrapper-horizontal {
    flex-direction: column;
    justify-content: center;
  }

  .section__container {
    display: flex;
    align-items: center;
    gap: 4.3rem;
  }

  /* HOME */

  .section__image-container {
    min-width: 43%;
  }

  /* ABOUT */

  #about .section__wrapper-horizontal {
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    margin-inline: auto;
  }

  /* PROJECTS */

  .section__project-details {
    z-index: 4;
    overflow: visible;
  }

  #project-1 .section__container,
  #project-2 .section__container {
    gap: 0;
  }

  #project-1 .section__image-container,
  #project-2 .section__image-container {
    min-width: 53%;
  }

  #project-1 p,
  #project-2 p {
    font-size: var(--fs-300);
  }

  #project-2 .section__container {
    flex-direction: row-reverse;
    text-align: right;
  }

  /* CONTACT */

  #contact .section__wrapper-horizontal {
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
    margin-inline: auto;
  }
}

/*  1600px */
@media (min-width: 100em) {
  section {
    padding: 1.5rem 0 5rem 0;
  }

  .section__wrapper-horizontal {
    height: auto;
  }

  .section__container > div {
    margin-top: 4rem;
  }
}

.section__slide-animation {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
