.container {
  padding: 0 1.5rem;
  background-image: url('@/assets/img/code-background-mobile.svg');
  background-position: center;
  background-size: contain;
}

/* 768px */
@media (min-width: 48em) {
  .container {
    background-image: url('@/assets/img/code-background.svg');
  }
}
