.container {
  padding: 5rem 0;
}

.primaryColor {
  color: var(--pri-clr);
}

.sectionTitle {
  padding-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.sectionTitle::after {
  background-color: var(--pri-clr);
  content: '';
  display: block;
  width: 6.875rem;
  height: 1.25rem;
  margin: -1.25rem auto;
  opacity: 0.3;
}

.aboutTextContainer {
  text-align: center;
}

.text {
  margin: 2rem 0;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 5rem 3rem;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}

.skillsSubContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.iconFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrumIcon {
  scale: 1.5;
}

.iconFlex:hover {
  color: var(--pri-clr);
  filter: var(--filter-pri-clr);
}

.restIcon {
  fill: var(--accent-clr);
  width: 2rem;
  height: 2rem;
}

.mongooseIcon,
.TDDIcon {
  fill: var(--accent-clr);
  width: 2rem;
  height: 2rem;
}

.mongooseIcon {
  scale: 1.5;
}

.mongooseIcon path,
.TDDIcon path {
  fill: var(--accent-clr);
}

.iconFlex:hover .restIcon,
.iconFlex:hover .mongooseIcon path,
.iconFlex:hover .TDDIcon path {
  fill: var(--pri-clr);
}

/* 1366px */
@media (min-width: 85.375em) {
  .container {
    height: calc(100vh - 5.3125rem);
    display: grid;
    place-content: center;
    padding: 0;
  }

  .subContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'app app devops devops'
      'app app tools utilities';
  }

  .skillsContainer {
    align-items: flex-start;
  }

  .skillsSubContainer {
    justify-content: flex-start;
  }

  .skillsContainer:nth-child(1) {
    grid-area: app;
  }

  .skillsContainer:nth-child(2) {
    grid-area: devops;
  }

  .skillsContainer:nth-child(3) {
    grid-area: tools;
  }

  .skillsContainer:nth-child(4) {
    grid-area: utilities;
  }
}
