.container {
  padding: 5rem 0;
  text-align: center;
}

.primaryColor {
  color: var(--pri-clr);
}

.sectionTitle {
  padding-bottom: 5rem;
  text-transform: uppercase;
}

.sectionTitle::after {
  background-color: var(--pri-clr);
  content: '';
  display: block;
  width: 6.875rem;
  height: 1.25rem;
  margin: -1.25rem auto;
  opacity: 0.3;
}

.text {
  margin: 2rem 0;
}

/* 768px */
@media (min-width: 48em) {
  .container {
    max-width: 35rem;
    margin-inline: auto;
    display: grid;
    place-content: center;
    padding: 0;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  .container {
    height: calc(100vh - 5.3125rem);
  }
}
