.container {
  padding: 5rem 0;
}

.textOpacity {
  opacity: 0.7;
}

.primaryColor {
  color: var(--pri-clr);
}

.title {
  padding: 2rem 0;
}

.underline {
  filter: var(--filter-pri-clr);
  background-image: url('https://drive.google.com/uc?id=1MGVyfUg3urLBZQl7VbQhvJzyFKQrTlWo');
  background-position: 100% 80%;
  background-size: contain;
  background-repeat: no-repeat;
}

.ctaButton {
  border: 2px solid var(--pri-clr);
  color: var(--pri-clr);
  margin: 2rem 0;
  padding: 0.1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.ctaButton:hover {
  filter: var(--filter-pri-clr);
  background-color: var(--sec-bg-clr);
}

.heroImage {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

/* 1366px */
@media (min-width: 85.375em) {
  .container {
    height: calc(100vh - 5.3125rem);
    display: flex;
    align-items: center;
    padding: 0;
    gap: 4.3rem;
  }

  .container div {
    width: 50%;
  }

  .text {
    min-width: 20%;
  }
}
