.container {
  padding: 5rem 0;
  text-align: center;
}

.primaryColor {
  color: var(--pri-clr);
}

.sectionTitle {
  padding-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.sectionTitle::after {
  background-color: var(--pri-clr);
  content: '';
  display: block;
  width: 6.875rem;
  height: 1.25rem;
  margin: -1.25rem auto;
  opacity: 0.3;
}

.text {
  margin: 2rem 0;
}

.email {
  margin-bottom: 0.25rem;
}

.socialIconsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socialIcon:hover {
  color: var(--pri-clr);
  filter: var(--filter-pri-clr);
}

.upworkContainer {
  display: flex;
  justify-content: center;
}

.hire {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upwork:hover {
  color: var(--pri-clr);
  filter: var(--filter-pri-clr);
}

.copyright {
  font-size: var(--fs-300);
  opacity: 0.3;
}

/* 768px */
@media (min-width: 48em) {
  .container {
    width: min(75%, 85.375rem);
    margin-inline: auto;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  .container {
    max-width: 35rem;
    height: calc(100vh - 5.3125rem);
    display: grid;
    place-content: center;
    padding: 0;
  }
}
