.container {
  padding: 5rem 0;
}

.sectionTitle {
  padding-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
}

.sectionTitle::after {
  background-color: var(--pri-clr);
  content: '';
  display: block;
  width: 12rem;
  height: 1.25rem;
  margin: -1.25rem auto;
  opacity: 0.3;
}

.card {
  background-color: var(--sec-bg-clr);
  box-shadow: var(--box-shadow);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.cardTitle {
  padding-bottom: 1.5rem;
}

.primaryColor {
  color: var(--pri-clr);
}

.cardDescription {
  padding: 0.8rem 2.3rem 1.5rem 2.3rem;
  text-align: center;
}

.cardDescription p {
  font-size: var(--fs-300);
  margin-bottom: 2rem;
}

.ctaButton {
  border: 2px solid var(--pri-clr);
  font-size: var(--fs-300);
  color: var(--pri-clr);
  margin-bottom: 2rem;
  padding: 0.1rem 2rem;
  border-radius: 3px;
  text-decoration: none;
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

.ctaButton:hover {
  filter: var(--filter-pri-clr);
  background-color: var(--sec-bg-clr);
}

/* 768px */
@media (min-width: 48em) {
  .container {
    width: min(75%, 85.375rem);
    margin-inline: auto;
  }

  .card {
    width: 35rem;
  }

  .cardDescription {
    padding: 0.8rem 4.3rem 1.5rem 4.3rem;
  }
}

/* 1366px */
@media (min-width: 85.375em) {
  .container {
    width: min(90%, 85.375rem);
  }

  .cardContainer {
    flex-direction: row;
  }

  .card {
    width: 22.5rem;
  }

  .cardDescription {
    padding: 0.8rem 2.3rem 1.5rem 2.3rem;
  }
}

/*  1600px */
@media (min-width: 100em) {
  .card {
    width: 26rem;
  }
}
